In [158]:
import pandas as pd
import re

In [159]:
real_gdp_df = pd.read_csv("..\\..\\dane\\real_GDP_per_capita.csv")

In [160]:
real_gdp_df.head()

,#,geo\TIME_PERIOD,AT: Austria,BE: Belgium,BG: Bulgaria,CY: Cyprus,CZ: Czech Republic,DE: Germany,DK: Denmark,EA20: Euro Area (the 20 countries using the euro),...,LU: Luxembourg,LV: Latvia,MT: Malta,NL: Netherlands,PL: Poland,PT: Portugal,RO: Romania,SE: Sweden,SI: Slovenia,SK: Slovakia
0,1,1995,30290,28400,3630,17530,10320,28960,39110,24610,...,67360,4200,0,30570,5150,14250,4120,31610,11980,6990
1,2,1996,30920,28720,3840,17470,10770,29210,39990,24980,...,67480,4350,0,31470,5460,14700,4300,32100,12320,7400
2,3,1997,31540,29740,3320,17680,10720,29730,41080,25590,...,70230,4790,0,32640,5810,15270,4100,33070,12980,7790
3,4,1998,32610,30260,3460,18530,10690,30380,41900,26300,...,73970,5160,0,33940,6080,15930,4020,34460,13400,8080
4,5,1999,33770,31250,3190,19240,10850,31040,43000,27030,...,78880,5340,0,35420,6370,16460,4020,35880,14100,8040

In [161]:
real_gdp_df.describe()

,#,geo\TIME_PERIOD,AT: Austria,BE: Belgium,BG: Bulgaria,CY: Cyprus,CZ: Czech Republic,DE: Germany,DK: Denmark,EA20: Euro Area (the 20 countries using the euro),...,LU: Luxembourg,LV: Latvia,MT: Malta,NL: Netherlands,PL: Poland,PT: Portugal,RO: Romania,SE: Sweden,SI: Slovenia,SK: Slovakia
count,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,...,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000
mean,15.000000,2009.000000,37724.827586,35096.551724,5593.793103,22523.793103,14560.689655,35088.965517,47065.172414,29970.000000,...,90158.275862,9829.655172,17255.517241,39527.241379,9658.620690,17376.206897,6963.448276,42247.586207,17773.793103,12227.241379
std,8.514693,8.514693,3447.035601,3224.204526,1743.916802,3066.614482,2742.175793,3528.189889,4023.548204,2567.838168,...,9738.415121,3418.064911,9110.358150,4134.497634,3105.647763,1313.491568,2316.543416,5242.584324,3121.623220,3406.033404
min,1.000000,1995.000000,30290.000000,28400.000000,3190.000000,17470.000000,10320.000000,28960.000000,39110.000000,24610.000000,...,67360.000000,4200.000000,0.000000,30570.000000,5150.000000,14250.000000,4020.000000,31610.000000,11980.000000,6990.000000
25%,8.000000,2002.000000,35430.000000,32990.000000,3840.000000,20490.000000,11880.000000,32320.000000,44770.000000,28640.000000,...,86680.000000,6710.000000,15640.000000,37080.000000,6880.000000,16950.000000,4740.000000,38620.000000,15410.000000,8730.000000
50%,15.000000,2009.000000,39140.000000,36060.000000,5690.000000,22460.000000,15130.000000,35360.000000,46890.000000,30280.000000,...,94600.000000,10370.000000,18080.000000,40230.000000,9330.000000,17350.000000,7140.000000,43680.000000,18230.000000,13000.000000
75%,22.000000,2016.000000,39870.000000,36860.000000,6840.000000,24480.000000,16640.000000,38180.000000,48970.000000,31220.000000,...,95920.000000,12430.000000,23400.000000,42050.000000,11740.000000,18010.000000,8370.000000,46640.000000,19980.000000,15090.000000
max,29.000000,2023.000000,42540.000000,40370.000000,8850.000000,29150.000000,18570.000000,39840.000000,55280.000000,34190.000000,...,101170.000000,15020.000000,29500.000000,46670.000000,15280.000000,20090.000000,11170.000000,49300.000000,23170.000000,17240.000000

In [162]:
real_gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 31 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   #                                                                        29 non-null     int64
 1   geo\TIME_PERIOD                                                          29 non-null     int64
 2   AT: Austria                                                              29 non-null     int64
 3   BE: Belgium                                                              29 non-null     int64
 4   BG: Bulgaria                                                             29 non-null     int64
 5   CY: Cyprus                                                               29 non-null     int64
 6   CZ: Czech Republic                                                       29 non-null     int64
 7   DE: Germany                                                              29 non-null     int64
 8   DK: Denmark                                                              29 non-null     int64
 9   EA20: Euro Area (the 20 countries using the euro)                        29 non-null     int64
 10  EE: Estonia                                                              29 non-null     int64
 11  EL: Greece                                                               29 non-null     int64
 12  ES: Spain                                                                29 non-null     int64
 13  EU27_2020: European Union 27 countries (after Brexit, excluding the UK)  29 non-null     int64
 14  FI: Finland                                                              29 non-null     int64
 15  FR: France                                                               29 non-null     int64
 16  HR: Croatia                                                              29 non-null     int64
 17  HU: Hungary                                                              29 non-null     int64
 18  IE: Ireland                                                              29 non-null     int64
 19  IT: Italy                                                                29 non-null     int64
 20  LT: Lithuania                                                            29 non-null     int64
 21  LU: Luxembourg                                                           29 non-null     int64
 22  LV: Latvia                                                               29 non-null     int64
 23  MT: Malta                                                                29 non-null     int64
 24  NL: Netherlands                                                          29 non-null     int64
 25  PL: Poland                                                               29 non-null     int64
 26  PT: Portugal                                                             29 non-null     int64
 27  RO: Romania                                                              29 non-null     int64
 28  SE: Sweden                                                               29 non-null     int64
 29  SI: Slovenia                                                             29 non-null     int64
 30  SK: Slovakia                                                             29 non-null     int64
dtypes: int64(31)
memory usage: 7.2 KB

In [163]:
real_gdp_df_EU = real_gdp_df.drop('EA20: Euro Area (the 20 countries using the euro)', axis=1)
real_gdp_df_EU = real_gdp_df_EU.drop('EU27_2020: European Union 27 countries (after Brexit, excluding the UK)', axis=1)

In [164]:
real_gdp_df_EU_rok = real_gdp_df_EU.rename({'geo\\TIME_PERIOD': 'Rok'}, axis=1)
# real_gdp_df_EU_rok

In [165]:
real_gdp_df_EU_rok_short = real_gdp_df_EU_rok.rename(columns=lambda x: re.sub('[A-Z]+: ','',x))
# real_gdp_df_EU_rok_short

In [170]:
real_gdp_df_EU_rok_short_noSpace = real_gdp_df_EU_rok_short.rename(columns=lambda x: re.sub(' ','_',x))
# real_gdp_df_EU_rok_short_noSpace

In [171]:
real_gdp_df_EU_rok_short_noSpace.columns = [x.lower() for x in real_gdp_df_EU_rok_short_noSpace.columns]
real_gdp_df_EU_rok_short_noSpace

,#,rok,austria,belgium,bulgaria,cyprus,czech_republic,germany,denmark,estonia,...,luxembourg,latvia,malta,netherlands,poland,portugal,romania,sweden,slovenia,slovakia
0,1,1995,30290,28400,3630,17530,10320,28960,39110,6410,...,67360,4200,0,30570,5150,14250,4120,31610,11980,6990
1,2,1996,30920,28720,3840,17470,10770,29210,39990,6840,...,67480,4350,0,31470,5460,14700,4300,32100,12320,7400
2,3,1997,31540,29740,3320,17680,10720,29730,41080,7830,...,70230,4790,0,32640,5810,15270,4100,33070,12980,7790
3,4,1998,32610,30260,3460,18530,10690,30380,41900,8250,...,73970,5160,0,33940,6080,15930,4020,34460,13400,8080
4,5,1999,33770,31250,3190,19240,10850,31040,43000,8300,...,78880,5340,0,35420,6370,16460,4020,35880,14100,8040
5,6,2000,34760,32340,3350,20180,11290,31920,44450,8990,...,83270,5710,15640,36650,6670,16960,4120,37480,14550,8090
6,7,2001,35090,32580,3600,20750,11680,32420,44710,9580,...,84880,6160,15250,37220,6750,17170,4340,37880,14940,8360
7,8,2002,35430,32990,3830,21270,11880,32320,44770,10310,...,86680,6710,15550,37080,6880,17210,4740,38620,15410,8730
8,9,2003,35680,33190,4050,21570,12270,32160,44850,11160,...,87840,7340,16020,36940,7130,16990,4880,39210,15890,9150
9,10,2004,36360,34230,4340,22350,12850,32570,45980,12000,...,90310,8070,15970,37550,7500,17250,5410,40680,16600,9640
10,11,2005,36950,34830,4670,23100,13630,32900,46930,13210,...,91120,9110,16330,38220,7750,17350,5700,41670,17210,10260
11,12,2006,37970,35480,5010,23790,14490,34240,48550,14590,...,95130,10370,16650,39510,8230,17600,6200,43340,18170,11170
12,13,2007,39270,36520,5380,24480,15200,35310,48820,15790,...,101170,11540,17430,40960,8790,18010,6740,44430,19360,12360
13,14,2008,39710,36400,5730,24740,15430,35730,48330,15030,...,99110,11270,18080,41660,9180,18040,7500,43680,19980,13000
14,15,2009,38200,35420,5570,23600,14610,33870,45680,12850,...,94170,9620,17690,39930,9330,17460,7140,41470,18290,12260
15,16,2010,38800,36040,5690,23510,14970,35360,46190,13190,...,95920,9470,18700,40250,9740,17750,6900,43480,18420,13060
16,17,2011,39800,36270,5960,23020,15260,36690,46610,14240,...,94700,9940,18800,40770,10250,17450,7250,44510,18510,13480
17,18,2012,39870,36120,6070,21890,15130,36800,46430,14810,...,94080,10790,19420,40230,10400,16810,7420,44010,17930,13670
18,19,2013,39540,36060,6130,20490,15130,36840,46890,15130,...,94600,11130,20370,40100,10480,16740,7470,44130,17760,13750
19,20,2014,39520,36530,6260,20350,15470,37480,47240,15680,...,94820,11470,21490,40600,10900,16950,7800,44690,18230,14100
20,21,2015,39640,36860,6560,21220,16230,37770,47900,16000,...,95090,12010,23000,41270,11390,17280,8090,46170,18660,14820
21,22,2016,39970,37110,6840,22460,16640,38330,48970,16460,...,97300,12430,23400,42050,11740,17670,8370,46700,19210,15090
22,23,2017,40620,37510,7130,23530,17490,39220,50150,17390,...,96460,12970,25710,42970,12340,18280,9100,46880,20190,15500
23,24,2018,41430,38040,7410,24700,17960,39540,50830,17990,...,95740,13630,26600,43680,13120,18830,9720,47220,21010,16110
24,25,2019,41970,38760,7800,25800,18570,39840,51500,18580,...,96520,13820,26570,44390,13720,19310,10140,47910,21570,16450
25,26,2020,39140,36740,7620,24690,17670,38180,50470,17990,...,94180,13430,25150,42440,13720,17680,9820,46640,20560,16010
26,27,2021,40860,38860,8270,27240,18380,39570,53970,19260,...,99360,14480,28320,44870,14750,18620,10450,49110,22230,16980
27,28,2022,42540,40180,8660,28860,18450,39820,54310,19240,...,98560,14730,28770,46670,15190,19800,10910,49300,22810,17010
28,29,2023,41770,40370,8850,29150,18230,39380,55280,18200,...,95660,15020,29500,46240,15280,20090,11170,48850,23170,17240

In [ ]:
real_gdp_df_EU_rok_short_noSpace.set_index('rok',inplace=True)

In [174]:
real_gdp_df_EU_rok_short_noSpace.head()

,#,austria,belgium,bulgaria,cyprus,czech_republic,germany,denmark,estonia,greece,...,luxembourg,latvia,malta,netherlands,poland,portugal,romania,sweden,slovenia,slovakia
rok,,,,,,,,,,,,,,,,,,,,,
1995,1,30290,28400,3630,17530,10320,28960,39110,6410,14290,...,67360,4200,0,30570,5150,14250,4120,31610,11980,6990
1996,2,30920,28720,3840,17470,10770,29210,39990,6840,14430,...,67480,4350,0,31470,5460,14700,4300,32100,12320,7400
1997,3,31540,29740,3320,17680,10720,29730,41080,7830,14870,...,70230,4790,0,32640,5810,15270,4100,33070,12980,7790
1998,4,32610,30260,3460,18530,10690,30380,41900,8250,15300,...,73970,5160,0,33940,6080,15930,4020,34460,13400,8080
1999,5,33770,31250,3190,19240,10850,31040,43000,8300,15650,...,78880,5340,0,35420,6370,16460,4020,35880,14100,8040

In [175]:
transposed_real_gdp_df_EU_rok_short_noSpace = real_gdp_df_EU_rok_short_noSpace.copy()

In [176]:
transposed_real_gdp_df_EU_rok_short_noSpace.drop('#', axis=1, inplace=True)
transposed_real_gdp_df_EU_rok_short_noSpace.T

rok,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
austria,30290,30920,31540,32610,33770,34760,35090,35430,35680,36360,...,39520,39640,39970,40620,41430,41970,39140,40860,42540,41770
belgium,28400,28720,29740,30260,31250,32340,32580,32990,33190,34230,...,36530,36860,37110,37510,38040,38760,36740,38860,40180,40370
bulgaria,3630,3840,3320,3460,3190,3350,3600,3830,4050,4340,...,6260,6560,6840,7130,7410,7800,7620,8270,8660,8850
cyprus,17530,17470,17680,18530,19240,20180,20750,21270,21570,22350,...,20350,21220,22460,23530,24700,25800,24690,27240,28860,29150
czech_republic,10320,10770,10720,10690,10850,11290,11680,11880,12270,12850,...,15470,16230,16640,17490,17960,18570,17670,18380,18450,18230
germany,28960,29210,29730,30380,31040,31920,32420,32320,32160,32570,...,37480,37770,38330,39220,39540,39840,38180,39570,39820,39380
denmark,39110,39990,41080,41900,43000,44450,44710,44770,44850,45980,...,47240,47900,48970,50150,50830,51500,50470,53970,54310,55280
estonia,6410,6840,7830,8250,8300,8990,9580,10310,11160,12000,...,15680,16000,16460,17390,17990,18580,17990,19260,19240,18200
greece,14290,14430,14870,15300,15650,16230,16890,17620,18600,19550,...,16140,16210,16270,16540,16920,17320,15760,17220,18310,18800
spain,18220,18620,19210,19960,20750,21730,22470,22720,22960,23310,...,22500,23440,24100,24750,25230,25520,22610,24120,25380,25730
finland,26940,27840,29530,31060,32340,34130,34960,35460,36090,37420,...,38300,38350,39230,40430,40860,41370,40270,41290,41770,41140
france,26540,26820,27400,28250,29060,30060,30410,30520,30600,31250,...,32990,33200,33360,33920,34320,34880,32170,34260,35040,35260
croatia,6520,7010,7480,7650,7620,7920,8490,8970,9470,9860,...,10500,10810,11280,11770,12230,12940,11970,13580,14580,14970
hungary,6940,6960,7180,7480,7730,8090,8440,8860,9240,9720,...,11070,11520,11850,12380,13100,13780,13210,14210,14860,14740
ireland,25900,27620,30350,32560,35600,38440,39860,41480,42030,44110,...,47010,58040,58050,62970,66760,69040,73000,83910,89250,82780
italy,26510,26850,27360,27840,28310,29390,29960,29980,29840,30060,...,27330,27620,28010,28510,28810,29000,26560,29080,30500,30720
lithuania,4440,4700,5120,5550,5520,5750,6180,6650,7410,7980,...,12400,12860,13360,14150,14970,15710,15720,16740,17020,16840
luxembourg,67360,67480,70230,73970,78880,83270,84880,86680,87840,90310,...,94820,95090,97300,96460,95740,96520,94180,99360,98560,95660
latvia,4200,4350,4790,5160,5340,5710,6160,6710,7340,8070,...,11470,12010,12430,12970,13630,13820,13430,14480,14730,15020
malta,0,0,0,0,0,15640,15250,15550,16020,15970,...,21490,23000,23400,25710,26600,26570,25150,28320,28770,29500
netherlands,30570,31470,32640,33940,35420,36650,37220,37080,36940,37550,...,40600,41270,42050,42970,43680,44390,42440,44870,46670,46240
poland,5150,5460,5810,6080,6370,6670,6750,6880,7130,7500,...,10900,11390,11740,12340,13120,13720,13720,14750,15190,15280
portugal,14250,14700,15270,15930,16460,16960,17170,17210,16990,17250,...,16950,17280,17670,18280,18830,19310,17680,18620,19800,20090
romania,4120,4300,4100,4020,4020,4120,4340,4740,4880,5410,...,7800,8090,8370,9100,9720,10140,9820,10450,10910,11170
sweden,31610,32100,33070,34460,35880,37480,37880,38620,39210,40680,...,44690,46170,46700,46880,47220,47910,46640,49110,49300,48850
slovenia,11980,12320,12980,13400,14100,14550,14940,15410,15890,16600,...,18230,18660,19210,20190,21010,21570,20560,22230,22810,23170
slovakia,6990,7400,7790,8080,8040,8090,8360,8730,9150,9640,...,14100,14820,15090,15500,16110,16450,16010,16980,17010,17240